<app-header-page title="Clientes" (handleClick)="toggleView($event)"></app-header-page>

<app-input-search *ngIf="viewRegisters" (searchChange)="onSearchChange($event)"></app-input-search>

<app-table 
 *ngIf="viewRegisters"
 [tableHeaders]="['Nome', 'E-mail', 'Telefone', 'Instragram']" 
 [tableLines]="tableLines" 
 [values]="clients"
 (objSelected)="onSelectClient($event)"
>
</app-table>

<form *ngIf="!viewRegisters" class="form-main">

    <div class="title">
        <h3>Dados pessoais</h3>
        <hr>
    </div>

    <div class="line">
        <!-- Nome do cliente -->
        <div class="inputBox">
            <label for="name">Nome</label>
            <input type="text" [(ngModel)]="clientForm.name" name="name" id="name" placeholder="Ex. José da Silva">
        </div>
        <!-- Email do cliente -->
        <div class="inputBox">
            <label for="email">E-mail</label>
            <input type="email" [(ngModel)]="clientForm.email" name="email" id="email" placeholder="email@provedor.com">
        </div>
    </div>

    <div class="line">
        <!-- Nome do cliente -->
        <div class="inputBox">
            <label for="tel">Telefone</label>
            <input type="tel" [(ngModel)]="clientForm.telephone" name="tel" id="tel" placeholder="(00) 00000-0000" mask="(00) 00000-0000">
        </div>
        <!-- Email do cliente -->
        <div class="inputBox">
            <label for="instagram">Instagram</label>
            <input type="text" [(ngModel)]="clientForm.instagram" name="instagram" id="instagram" placeholder="Ex. @josesilva">
        </div>
    </div>

    <app-form-buttons *ngIf="!viewRegisters" [isCreate]="!clientForm.id" (saveAction)="onSave()" (editAction)="onEdit()" (deleteAction)="onDelete()"></app-form-buttons>

    <div class="title" *ngIf="tableLinesSales.length > 0">
        <h3>Compras do cliente</h3>
        <hr>
    </div>

    <div class="header" *ngIf="tableLinesSales.length > 0">
        <p>Quantidade total: {{tableLinesSales.length}} compras</p>
        <p>Valor total: {{valueTotal()}}</p>
    </div>
    
</form>

<app-table 
 *ngIf="!viewRegisters && tableLinesSales.length > 0"
 [tableHeaders]="['Cliente', 'Beat', 'Preço', 'Data']" 
 [tableLines]="tableLinesSales" 
 [values]="clientSales"
>
</app-table>