<app-header-page title="Meus beats"></app-header-page>

<div class="filter">

    <app-input-search [noMargin]="true"></app-input-search>

    <select name="" id="">
        <option value="">Categoria</option>
    </select>

    <select name="" id="">
        <option value="">Gênero</option>
    </select>

</div>

<div class="beats-list">
    <app-beat-card name="Nome do beat muito foda fodastico" image="https://s.glbimg.com/jo/g1/f/original/blog/de68dfe1-afd4-476e-b8bd-ab7305186a49_primaveranosdentescapa.jpg"></app-beat-card>
</div>