<app-header-page title="Meus beats"></app-header-page>

<div class="filter">

    <app-input-search [noMargin]="true" (searchChange)="onSearchChange($event, 'name')"></app-input-search>

    <select name="category" id="category" [(ngModel)]="filters.selectCategory" (ngModelChange)="onSearchChange($event, 'category')">
        <option [value]="undefined">Categoria</option>
        <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
    </select>

    <select name="gender" id="gender" [(ngModel)]="filters.selectGender" (ngModelChange)="onSearchChange($event, 'gender')">
        <option [value]="undefined">Gênero</option>
        <option *ngFor="let gender of genders" [value]="gender.id">{{gender.name}}</option>
    </select>

</div>

<div class="beats-list">
    <app-beat-card *ngFor="let beat of beatsFilter" [name]="beat.name" [image]="beat.image" [audio]="beat.audio"></app-beat-card>
</div>