.inputBox {
    width: 100%;
    padding: 0 12px;
    margin: 2px 0;

    border: 1px solid #1e1e1f;
    border-radius: 8px;
    background-color: #000;

    color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
        width: 100%;
        padding: 12px;
    
        color: #fff;
    
        outline: none;
        border: none;
        background-color: transparent;
    }

    mat-icon {
        font-size: 20px;
        margin-top: 5px;
    }

    .eye-icon {
        color: #777;
        cursor: pointer;
    }
}