.inputBox {
    width: 100%;
    margin-top: 16px;
    padding: 0 6px;

    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #34191D;

    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
        width: 100%;
        padding: 6px;
        border: none;
        outline: none;
    }

    .clearBtn {
        cursor: pointer;
        font-size: 20px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}