@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #151317;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #6d6d6d;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(226, 27, 20);
    border-radius: 2px;
}

.form-main {
    width: 100%;
    padding: 12px;

    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            z-index: 1;
            width: auto;
            padding-right: 12px;
            background-color: #151317;
            color: #ffffff;
            text-shadow: 2px 2px 6px rgb(124, 32, 29);
            font-weight: 450;
            font-size: 23px;
        }

        hr {
            position: absolute;
            width: 80%;
            height: 1px;
            background-color: rgba(172,38,34,1);
            border: none;
        }
    }
    
    .line {
        width: 100%;
        gap: 10px;
        display: flex;

        .inputBox {
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            label {
                color: #fff;
                font-size: 18px;
            }

            input, select {
                width: 100%;
                padding: 6px;
                border-radius: 3px;
                border: 1px solid transparent;
                outline: none;
                font-size: 15px;
            }

            input:focus {
                border: 1px solid rgb(245, 51, 45);
            }
        }

        .w100 { width: 100%; }
        .w75 { width: 75%; }
        .w50 { width: 50%; }
        .w25 { width: 25%; }
    }
}

.hidden {
    display: none;
}