<app-header-page title="Dashboard" [showActionButtons]="false"></app-header-page>

<section>
    <app-dashboard-card icon="payments" iconColor="green" title="Lucro total do mês"></app-dashboard-card>
    <app-dashboard-card icon="payments" iconColor="green" title="Lucro total"></app-dashboard-card>
    <app-dashboard-card icon="headphones" iconColor="#222" title="Total de beats"></app-dashboard-card>
    <app-dashboard-card icon="groups" iconColor="#222" title="Total de clientes"></app-dashboard-card>
</section>